/*#main{*/

/*    background-color: #151414;*/
/*}*/
/*#title{*/

/*    text-align: center;*/
/*    color: white;*/
/*    padding: 2rem;*/
/*    background-color: #151414;*/
/*    border-radius: 4rem;*/
/*    margin-left: 60%;*/
/*}*/
.mx-auto{
    width: 200px;
}

.container{

    text-align: center;
}
#img-div{
    margin: 2rem;
    padding: 4rem;
    color: #171515;
   background-color: #a39a9a;




}
#image{


    width: 100%;
    height: auto;
    max-width: 625px;

    display: block;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;


}
#tribute-info{


    padding: 4rem;
    color: #3e2c2c;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
}
#tribute-info i{
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 4rem;
    color: yellow;
}

#tribute-info div{

    padding: 2rem;
}
#tribute-info div:nth-child(even){

    background: grey;
}
#tribute-info div:nth-child(odd){

    background:white;
}
footer{

    color: #c9c1c1;
    background-color: grey;
    padding:1rem;
    margin: 1rem;
}